body {
  padding: 0;
  margin: 0;
}

.widget {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}

.widget button {
  font-size: 2rem;
}

.widget button:hover {
  background-color: white;
}

.two-rows {
  grid-row: span 2;
}

.two-columns {
  grid-column: span 2;
}

.screen {
  grid-column: 1 / -1;
  background-color: grey;
  display: flex;
  color: white;
  font-size: 2rem;
}
